%image-full {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
%image-full-cover {
	@extend %image-full;
	object-fit: cover;
}
%image-full-contain {
	@extend %image-full;
	object-fit: contain;
}
