@mixin custom-horizontal-scroll {
  &::-webkit-scrollbar {
    height: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    margin: 0 2rem;
    background: rgba(164, 167, 197, 0.2);
    border-radius: 0.15rem;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(164, 167, 197, 1);
    border-radius: 0.15rem;
  }
}
