@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-display: swap;
    font-style: $fstyle;
    font-weight: $fweight;
    src: local($fname), url($furl) format("woff");
  }
}
