.header {
	position: relative;
	padding-top: $container-wrapper-xs;
	padding-bottom: $container-wrapper-xs;
	&__container {
		@extend %container;
		@extend %row;
		align-items: center;
		@include media-breakpoint-up(lg) {
			padding-left: $container-wrapper-xs;
			padding-right: $container-wrapper-xs;
		}
	}
	&-logo {
		@extend %col-auto;
		margin-right: auto;
		&__image {
			display: block;
			width: 6.4rem;
			height: 6.4rem;
		}
	}
}
