@use "sass:math";

.reviews {
	@extend %section;
	&__container {
		@extend %container;
	}
	&__title {
		@extend %section-title;
		text-align: left;
		margin-bottom: 32rem;
		@include media-breakpoint-up(lg) {
			margin-bottom: 50rem;
		}
	}
	&__items {
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-wrap: wrap;
			margin-left: -5rem;
			margin-right: -5rem;
		}
	}
	&-item {
		padding-left: 5rem;
		padding-right: 5rem;
		@include media-breakpoint-down(xs) {
			& + & {
				margin-top: 8rem;
			}
		}
		@include media-breakpoint-up(lg) {
			width: 50%;
			flex: 0 0 50%;
			&:nth-child(n +3) {
				margin-top: 10rem;
			}
		}
		&__inner {
			position: relative;
			border: 1px solid $color-gray4;
			border-radius: 16rem;
			padding: 20rem 25rem;
			.icon {
				display: block;
				position: absolute;
				top: 10rem;
				right: 10rem;
				width: 125rem;
				height: 113rem;
				z-index: -1;
			}
		}
		&__description {
			margin-bottom: 20rem;
			font-size: 16rem;
			line-height: math.div(21, 16);
			p {
				margin: 0;
			}
		}
		&__author {
			display: block;
			font-size: 16rem;
			line-height: math.div(21, 16);
			color: $color-gray2;
		}
	}
}