$color-black: #000;
$color-black1: #010813;

$color-white: #fff;

$color-blue: #dde6ed;
$color-blue-1: #0574bf;

$color-gray: #636b76;
$color-gray1: #eff1f4;
$color-gray2: #bfbfbf;
$color-gray3: #a2a2a2;
$color-gray4: #f2f2f2;

$color-text: $color-black1;
$color-body: $color-blue;
