ul,
ol {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

b,
strong {
  font-weight: 700;
}

a {
  color: $color-text;
  text-decoration: none;
  transition: color $transition-medium, background-color $transition-medium;
  cursor: pointer;
  &:hover {
    color: currentColor;
    text-decoration: none;
  }
}

p {
  margin: 0;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}
