/*<!-- #ff9700   -   orange -->
<!-- #028dcd   -   blue -->
<!-- #fd1818   -   red  -->*/
@font-face{
font-family: 'fr_regular';
src: url('../fonts/firasans.ttf') format('opentype');
font-weight: 400;
font-style: normal;
}
@font-face{
font-family: 'fr_medium';
src: url('../fonts/firasansmedium.ttf') format('opentype');
font-weight: 500;
font-style: normal;
}
@font-face{
font-family: 'fr_bold';
src: url('../fonts/firasanssemibold.ttf') format('opentype');
font-weight: 700;
font-style: normal;
}
@font-face{
font-family: 'r_regular';
src: url('../fonts/Raleway-Regular.ttf') format('opentype');
font-weight: 400;
font-style: normal;
}
@font-face{
font-family: 'r_bold';
src: url('../fonts/Raleway-Bold.ttf') format('opentype');
font-weight: 500;
font-style: normal;
}
@font-face{
font-family: 'r_medium';
src: url('../fonts/Raleway-Medium.ttf') format('opentype');
font-weight: 700;
font-style: normal;
}
@font-face{
font-family: 'r_sb_cpt_r';
src: url('../fonts/Raleway-SemiBold.ttf') format('opentype');
font-weight: 700;
font-style: normal;
}
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	border: none;
	outline: none;
}
a,button,input[type=submit]{
	cursor: pointer;
}
body{
	font-family: fr_regular;
	overflow: hidden;
}
/*.bus_hover{
	-webkit-transition: .4s!important;
	-o-transition: .4s!important;
	transition: .4s!important;
	-webkit-background-size: contain!important;
	background-size: contain!important;
}
.bus_hover:hover {
	height: 400px;
	background-size: contain;
}
.bus_hover_text{
	position: absolute;
    top: 64%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 90%;
    padding: 10px;
    line-height: 14px;
    color: rgba(0,0,0,0)
}
.bus_hover:hover .bus_hover_text{
	display: block;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	color: rgba(0,0,0,1);
}*/
.popup{
	position: fixed;
	background-color: rgba(0,0,0,.5);
	z-index: 9999;
	min-width:100%;
	min-height: 100%;
}
.popup_content{
	position: relative;
	background-color: #fff;
	padding: 20px 40px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
}
.popup_content input[type=text]{
	border: 1px solid #028dcd;
	height: 15px;
}

.popup_content h3{
	text-align: center;
	font-size: 18px;
}
.popup_content form{
	padding: 20px 0;
}
.popup_spain{
	position: fixed;
	background-color: rgba(0,0,0,.5);
	z-index: 9999;
	min-width:100%;
	min-height: 100%;
}
.popup_spain_content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	background-color: #fff;
	padding: 6px 15px 6px 40px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
}
.popup_spain_content input[type=text]{
	border: 1px solid #028dcd;
	height: 15px;
}
.popup_spain_content .big_btn{
	width: 100%;
}
.popup_spain_content h3{
	text-align: center;
	font-size: 18px;
}
.popup_spain_content form{
	padding: 20px 0;
}
.popup_spain_content .card{
	margin: 0 50px 0 0;
	-webkit-transform:scale(1.2)!important;
	    -ms-transform:scale(1.2)!important;
	        transform:scale(1.2)!important;
}
.popup_spain_content .card .small_btn{
	display: none;
}
.cross{
	position: absolute;
    top: 13px;
    right: 37px;
    padding: 10px;
}
h1{
	font-size: 32px;
	line-height: 48px;
	font-family: r_sb_cpt_r;
	color: white;
}
h2{
	font-size: 27px;
	font-family: r_bold;
	color: #ff9700;
}
h3{
	font-size: 26px;
	font-family: r_bold;
}
.container{
	max-width: 1200px;
	width: 100%;
	padding:0 10px;
	margin: auto;
}
.aic{  /*вспомогательный класс для выравнивания элементов по центру*/
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.row{ /*вспомогательный класс для выравнивания элементов в сроку*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.col{ /*вспомогательный класс для выравнивания элементов в колонку*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.sbn{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.sad{
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.jc{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.big_btn{
	background-color: #ff9700;
	color: white;
	/*padding: 20px 24px;*/
	border-radius: 10px;
	outline: none;
	border: none;
	font-size: 18px;
	-webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.21);
	        box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.21);
	width: 186px;
    height: 46px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.big_btn:hover{
background-color: #ff6100;
-webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
}
.small_btn{
	background-color: #028dcd;
	color: white;
	/*padding: 20px 24px;*/
	border-radius: 10px;
	outline: none;
	border: none;
	font-size: 11px;
	-webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.21);
	        box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.21);
	width: 87px;
    height: 26px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.small_btn:hover{
background-color: #005dcd;
-webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
}
.orange{
	color: #ff9700;
}
.uppercase{
	text-transform:  uppercase;
}
/*nav-bar*/
nav{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 25px 0 0 0;
	z-index: 999;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.nav_scrool{
	padding: 0 !important;
	background-color: rgba(0,0,0,.6)!important;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.nav_content{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
nav .big_btn, .link{
	margin: 0 15px 5px 15px;
}
nav .link a{
	color: white;
	font-size: 22px;
	font-family: fr_regular;
}
.logo{
	padding: 10px 0 0 0; 
}

/*first section*/
.first{
	height: 100vh;
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}
.mask{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%; 
    height: 100vh;
    z-index: 1;
    background-color: rgba(0,0,0,.43);
}
.mask4{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,.43);
}
.utp_text{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	z-index: 2;
	text-align: center;
	width: 100%;
}
.categories{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	position: absolute;
	bottom: 2%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	z-index: 2;
}
.category{
	font-size: 20px;
	font-family: r_medium;
	color: white;
	border-bottom: 2px solid #ff9700;
	z-index: 2;
	padding: 10px 5px;
}
.category:hover{
	border-bottom: 2px solid #ff6100;
}

/*second section*/
.second{
	background-image: url(../img/body_bg.png);
	background-size: 100% 120%;
	-webkit-background-size: 100% 120%;
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 70px 0;
}
.text_center{
	text-align: center;
	padding: 70px 0 20px 0;
}
.cards{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.card{
	width: 360px;
	height: 460px;
	border-radius: 10px;
	background-color: rgba(255,255,255,1);
	background-size: 120% 69%;
	background-repeat: no-repeat;
	-webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,.3));
	        filter: drop-shadow(0px 0px 5px rgba(0,0,0,.3));
	position: relative;
}
.popup_spain .card {
	width: 260px;
	height: 300px;
}
.popup_spain .hotel_name {
	font-size: 10px;
}
.hotel{
	width: 100%;
    height: 30px;
    position: absolute;
    top: 64.3%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,.58);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hotel_content{
	width: 90%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin:auto;
}
.hotel_name{
	font-size: 16px;
	font-family: r_bold;
}
.stars{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.star{
	background-image: url(../img/icons/star.png);
	width: 14px;
	height: 14px;
	background-size: contain;
}
.card_content{
	position: absolute;
    bottom: 2%;
    width: 95%;
    margin: auto;
    left: 50%;
    -webkit-transform: translate(-50%,-10%);
        -ms-transform: translate(-50%,-10%);
            transform: translate(-50%,-10%);
}
.info {
	margin: 60px auto;
	width: 83%;
}
.info-control {
	  margin-bottom: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.info-control_link {
    cursor: pointer;
    color: #ff9700;
    background-color: #fff;
    border-radius: 50px;
    padding: 7px 20px;
    margin: 0 5px 10px;
    display: block;
}
.info-control_link.is-active {
	color: #fff;
  background-color: #ff9700;
}
.info-content {
	  padding: 15px 25px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,.3));
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.3));
    position: relative;
    z-index: 100;
}
.info-content_block:not(:first-child) {
	display: none;
}
.info-content .carousel {
	margin-bottom: 15px;
}
.info-content ul {
	margin: 15px 0 15px 30px;
}
.info-content .slick-slider .slick-list {
	padding: 0;
}
.info-content .carousel:hover .slick-arrow {
	opacity: 1;
	visibility: visible;
}
.info-content .slick-arrow {
    height: 100px;
    margin-top: -50px;
    max-width: 50px;
    top: 50%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 11%;
    background: rgba(255,255,255,.3);
    position: absolute;
    z-index: 100;
    text-indent: -999px;
    overflow: hidden;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}
.info-content .slick-arrow:after {
	background: url(../img/arrow.png) no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  content: '' !important;
  display: block;
  height: 47px;
  margin-top: -23px;
  max-height: 47px;
  max-width: 47px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.info-content .slick-prev {
	left: 0;
}
.info-content .slick-prev:after {
	left: 15%;
}
.info-content .slick-next:after {
  -webkit-transform: rotate(180deg);
transform: rotate(180deg);
right: 15%;
	
}
.info-content .slick-next {
	right: 0;
}
.info-content_bottom {
	  display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.info-content_bottom > .hotel_name {
	    margin: 10px 0;
}
.info-content_bottom .row {
	align-items: center;
}
.info-content_bottom .row .stars {
	margin-left: 10px;
}
.trip{
	width: 50%;
}
.trip_icon{
	width: 11px;
	height: 11px;
	padding: 0 10px 0 0;
}
.val,.man{
	line-height: 12px;
	font-size: 11px;
	text-align: center;
	position: relative;
}
.val:after{
	content: '';
	width: 100%;
	height: 1px;
	background-color: #000;
	position: absolute;
	bottom: 0;
	left: 0;
}
.cost{
	font-size: 18.3px;
	font-family: fr_bold;
	padding:0 5px;
	color: #028dcd;
}
.bus_cost{
	line-height: 16px;
}
.bus_icon{
	width: 18px;
	height: 9px;
	padding:0 2px;
}
.bus_content{
	bottom: -1%;
}
.bus_content .hotel_name{
	font-size: 11px;
}
.bus_content .man{
	text-align: left;
}
.curort{
	padding: 3px;
}

/*.hot{
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 80%, 0 50%);
	clip-path: polygon( 0% 0%, 100% 0%, 100% 50%, 50% 80%, 0 50% ) ;
	background-color: #fd1818;
	position: absolute;
	top: 0;
	left: 50px;
	height: 40px;
}*/
.hot{
	position: absolute;
	top: -2px;
	left: 20px;
	background-image: url(../img/icons/hot.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}
.hot_text{
	font-family: r_sb_cpt_r;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.cards_category{
	padding: 15px 0;
	position: relative;
}

.planestart{
	position: relative;
}
.big_plane_line{
	position: absolute;
    top: 71%;
    left: 14%;
}
.small_plane_line{
	position: absolute;
	top: 50%;
    left: -6%;
}
.big_plane{
	position: absolute;
    top: 103%;
    left: 12%;
}
.small_plane{
    position: absolute;
    top: 143%;
    left: -4%;
    -webkit-transform: rotate(-147deg);
        -ms-transform: rotate(-147deg);
            transform: rotate(-147deg);
}
.big_bus_line{
	position: absolute;
    top: 55%;
    left: -5.5%;
}
.big_bus{
	position: absolute;
    top: 143%;
    left: -5%;
}
.icon_price{
	background-color: #fff;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	position: relative;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.1));
	        filter: drop-shadow(0px 0px 10px rgba(0,0,0,.1));
}
.icon_price img{
	max-width: 57px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
.advantages{
	text-align: center;
	padding: 10px 0 50px 0;
}
.adv_text{
	line-height: 18px;
}
.advantages .hotel_name{
	padding:10px 0 10px 0;
}
.fww{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.advantage{
	padding: 10px 5px;
}
.mask2{
	-webkit-clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 100%, 0 0);
	clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 100%, 0 0);
	max-width: 582px;
	height: 317px;
	width: 100%;
	background-image: url(../img/You-Go-Panama.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}
.mask3{
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 80% 50%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
	max-width: 582px;
	height: 317px;
	width: 100%;
	background-image: url(../img/gifts.png);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;	
}
.shadow{
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
	        filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
	width: 582px;
}
.panama_text{
	padding: 30px 10px;
	text-align: center;
}
.gifts .row{
	padding-bottom: 50px;
}

#mb_parallax_two {
  background-image: url(../img/5.jpg);
}
.mb_parallax_container {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
	background-position: center 0;
  -webkit-background-attachment: fixed;
  -webkit-background-size: cover;
  -webkit-background-repeat: no-repeat;
  -webkit-background-position: center 0;
  color: white;
  position: relative;
}


.mb_parallax_overlay {
  max-width: 1228px;
  width: 100%;
  margin:auto;
  font-family: r_sb_cpt_r;
  font-size: 16px;
}
.third{
	position: relative;
}
.rewiews_container{
	background-image: url(../img/7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.command{
    /*max-width: 1200px;*/
    margin: auto;
    background-image: url(../img/7.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 70px;
}

.command .slider__content{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.command .slider__content.draggable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider__item{
    padding: 0 20px;
}

.command__link{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 25px auto;
    /*background-image: url(../img/del3.jpg);*/
    top: -50px;
    left: 10px;
    background-size: cover;
    background-position: center;
}

.command__photo{
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.command__info{

}
.command__item{
	text-align: center;
    width: 462px;
    height: 300px;
    background-color:#fff;
    border-radius: 10px;
    margin:auto;
    position: relative;
    max-width: 100%;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,.3));
            filter: drop-shadow(0px 0px 5px rgba(0,0,0,.3));
}
.command__name{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.command__name::after{
    content: "";
    display: block;
    height: 1px;
    width: calc(100% - 20px);
    max-width: 157px;
    margin: 10px auto;
    background-color: #25a3ef;;
}
.rewiew{
	padding: 80px 20px;
}
.rewiew .hotel_name:nth-child(2){
	padding: 0 10px;
}
.rewiew_text{
	max-height: 154px;
	overflow-y: auto;
	margin: 20px 0;
	font-size: 14px;
}
.rewiew_text::-webkit-scrollbar-track {
    background-color: #e8e8e8;
}

.rewiew_text::-webkit-scrollbar {
    width: 15px;
}

.rewiew_text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(2,141,205,.5);

}
.slider{
    position: relative;
    padding: 0 40px;
}

.slick-slider .slick-list{
    padding: 60px 0 0 0;
}

.slider__arrow{
    width: 42px;
    height: 29px;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.slider__arrow::before{
    /* content: ""; */
    width: 100%;
    height: 3px;
    background-color: rgba(39,82,140,0.5);
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.slider__arrow::after{
    content: "";
    width: 20px;
    height: 20px;
    border-bottom: 3px solid rgba(39,82,140,0.5);
    border-left: 3px solid rgba(39,82,140,0.5);
    position: absolute;
    top: 50%;
    left: 3px;
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.slider__arrow:hover::before{
    background-color: rgba(39,82,140,1);
}

.slider__arrow:hover::after{
    border-bottom: 3px solid rgba(39,82,140,1);
    border-left: 3px solid rgba(39,82,140,1);
}

.slider__arrow_prev{
    left: 20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.slider__arrow_next{
    right: 20px;
    -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
}

.slider__item{
    padding: 0 15px;
}

.command .slider__pagination{
    margin-top: 20px;
}

.command .slider__pagination .slick-dots{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.command .slider__pagination .slick-dots li {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.command .slider__pagination .slick-dots li button{
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #25a3ef;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 0;
}

.command .slider__pagination .slick-dots li:hover button{
    background-color: rgba(2,141,205,.5);;
    cursor: pointer;
}

.command .slider__pagination .slick-dots .slick-active:hover button{
     background-color: rgba(0,0,0,0);
    border:2px solid  rgba(2,141,205,.2);	
    width: 14px;
    height: 14px;
}

.command .slider__pagination .slick-dots .slick-active button{
    background-color: rgba(0,0,0,0);	
    border:2px solid  rgba(2,141,205,.5);
    width: 14px;
    height: 14px;
}
.footer_bg{
	background-image: url(../img/6.jpg);
	position: absolute;
	top: 0;
	left: 0;
	min-width:100%;
	min-height:100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -2;
}
.fifth{
	position: relative;
	color: white;
	padding: 50px 0;
}
.fifth a{
	color: white;
}
.contact_img img{
	width: 30px;
}
.social_img{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: auto;
}
.social_img_one{
	border-radius: 50%;
	border: 1px solid #ff9700;
	width: 40px;
	height: 40px;
	position: relative;
}
.social_img img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
input[type=text]{
	border-radius: 10px;
	height: 10px;
	margin:5px 0;
	padding: 20px 10px 20px 10px;
	width: 260px;
}
button[type=submit]{
	border-radius: 10px;
	width: 100%;	
	margin:5px 0;
}
input[name=comment]{
	border-radius: 10px;
	height: 30px!important;
}
.fifth .row{
	line-height: 40px;
}
footer .text_center{
	padding: 0;
}
@media only screen and (min-width: 1279px) {
	.mobile_logo{
		display: none!important;
	}
}
@media only screen and (max-width: 1279px) {
	#myVideo {
	  display: none;
	}
	.first{
		background-image: url(../img/background_mobile.png);
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

	}
	nav .link a{
		font-size: 16px;
	}
	nav .big_btn{
		background-color: #ff9700;
    color: white;
    /* padding: 20px 24px; */
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.21);
            box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.21);
    width: 121px;
    height: 31px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
	}
	nav .row{
		/*flex-direction: row;*/
	}
	.popup_spain{
		position: fixed;
		background-color: rgba(0,0,0,.5);
		z-index: 9999;
		min-width:100%;
		min-height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.popup_spain_content{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		position: relative;
		background-color: #fff;
		padding: 10px;
		border-radius: 10px;
		position: absolute;
		top: 75%;
		left: 50%;
		-webkit-transform:translate(-50%,-50%);
		    -ms-transform:translate(-50%,-50%);
		        transform:translate(-50%,-50%);
	}
	.popup_spain_content .card{
		margin: 20px;
		-webkit-transform:scale(1);
		    -ms-transform:scale(1);
		        transform:scale(1);
	}
	h1,h2,h3{
		text-align: center;
		padding: 0 10px;
	}
	.big_plane_line{
		display: none;
	}
	.big_plane{
		display: none;
	}
	.small_plane_line{
		display: none;
	}
	.small_plane{
		display: none;
	}
	.big_bus_line{
		display: none;
	}
	.big_bus{
		display: none;
	}
	.logo{
		display: none;
	}
	.container{
		padding: 0;
	}
	.cards{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	}
	.card{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.gifts .row{
		-webkit-box-orient: vertical!important;
		-webkit-box-direction: normal!important;
		    -ms-flex-direction: column!important;
		        flex-direction: column!important;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.gifts .col{
		padding-top: 50px;
		margin:auto!important;
	}
	.shadow{
		max-width: 100%;
		width: 100%;
	}
	.mask2,.mask3{
		-webkit-clip-path: none;
		        clip-path: none;
		max-width: 100%;
		width: 100%;
		background-size: contain;
		background-position: center;
	}
	.advantages{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.advantage{
		-ms-flex-preferred-size: 46%;
		    flex-basis: 46%;
	}
	.fifth .row {
    	-ms-flex-wrap: wrap;
    	    flex-wrap: wrap;
	}
	.fifth .row .col {
    	padding: 10px 0;
	}
	nav .row{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
    	-webkit-box-align: center;
    	    -ms-flex-align: center;
    	        align-items: center;
    	margin: auto;
	}
	.phones{
		flex-direction: row!important;
	}
	.categories{
		flex-wrap: wrap;
	}
	.category{
		font-size: 17px;
	}
}
@media only screen and (max-width: 480px) {
	h1{
		font-size: 16px;
		line-height: 30px;	
	}
	.upt_text{
		top: 60%;
	}
}
.advantage:hover .icon_price{
    -webkit-animation: 1s tremor linear;  
    animation: 1s tremor linear;    
}

@-webkit-keyframes tremor{
	0% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg)
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg)
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg)
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg)
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg)
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg)
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg)
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg)
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0deg);
            transform: translateX(1px) rotate(0deg)
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0deg);
            transform: translateX(-1px) rotate(0deg)
  }
}

@keyframes tremor{
	0% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg)
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg)
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg)
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg)
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg)
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg)
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg)
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg)
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0deg);
            transform: translateX(1px) rotate(0deg)
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0deg);
            transform: translateX(-1px) rotate(0deg)
  }
}


